<div class="container textCon">
    <h3 class="font-weight-bold">Modulo de sucursales</h3>
    <div class="row">
        <div class="col-lg-6">
            <mat-form-field style="width: 100%;">
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" autocomplete="off">
            </mat-form-field>
        </div>
        <div class="col-lg-6" style="text-align: right;">
            <button mat-raised-button color="primary" (click)="addSucursal()">Agregar sucursal</button>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tablavg" matSort style="margin-bottom: 25px;">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="idsucursal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.idsucursal}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: bold;"> Opciones </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
                <mat-icon matTooltip="Editar" class="micon" (click)="editSucursal(element)">border_color</mat-icon>
                <mat-icon matTooltip="Eliminar" class="micon" (click)="deleteSucursal(element)">delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[50, 100, 150]" showFirstLastButtons></mat-paginator>
</div>